[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
"autopep8" = "*"
jedi = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
sqlalchemy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
